name: Automatic Changelog and Release
on:
  push:
    tags:
      - "v*"
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: GLOBAL
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Update CHANGELOG
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
      -
        name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.14"
      -
        name: Export SBOM
        run: uv export --format cyclonedx1.5 --output-file sbom.json
      -
        name: Create Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: false
          name: ${{ github.ref_name }}
          body: ${{ steps.changelog.outputs.changes }}
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: sbom.json
      -
        name: Commit CHANGELOG.md
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: main
          commit_message: "docs: update CHANGELOG.md for ${{ github.ref_name }} [skip ci]"
          file_pattern: CHANGELOG.md
